<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.lovelyhome.mapper.BuildingMapper">
    <select id="getAllBuildingsByPrice" resultType="org.csu.lovelyhome.entity.Building">
        SELECT * FROM building ORDER BY PRICE ASC
    </select>
    <select id="getBuildingNamesByKeyWords" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT NAME FROM building
        <if test='keywords != "%null%"'>
            WHERE NAME LIKE '%' || #{keywords} || '%'
        </if>
    </select>
    <select id="getAllBuildingsByCondition" parameterType="org.csu.lovelyhome.pojo.param.FiltBuildingParam" resultType="org.csu.lovelyhome.entity.Building">
        SELECT * FROM building WHERE 1 = 1
        <if test="filtBuildingParam.position != null">
            AND DISTRICT = #{filtBuildingParam.position}
        </if>
        <if test="filtBuildingParam.minUnitPrice != null">
            AND PRICE >= #{filtBuildingParam.minUnitPrice}
        </if>
        <if test="filtBuildingParam.maxUnitPrice != null">
            AND PRICE >= #{filtBuildingParam.maxUnitPrice}
        </if>
        <if test="filtBuildingParam.minTotalPrice != null">
            AND Building_ID IN (SELECT BUILDING_ID FROM huxing WHERE TOTAL_PRICE >= #{filtBuildingParam.minTotalPrice})
        </if>
        <if test="filtBuildingParam.maxTotalPrice  != null">
            AND BUILDING_ID IN (SELECT BUILDING_ID FROM huxing WHERE #{filtBuildingParam.maxTotalPrice} >= TOTAL_PRICE)
        </if>
        <if test="filtBuildingParam.minArea != null">
            AND BUILDING_ID IN (SELECT BUILDING_ID FROM huxing WHERE FLOOR_SPACE >= #{filtBuildingParam.minArea})
        </if>
        <if test="filtBuildingParam.maxArea != null">
            AND BUILDING_ID IN (SELECT BUILDING_ID FROM huxing WHERE #{filtBuildingParam.maxArea} >= FLOOR_SPACE)
        </if>
        <if test="filtBuildingParam.numOfhuxing != null">
            AND BUILDING_ID IN (SELECT BUILDING_ID FROM huxing WHERE BEDROOM_NUM = #{filtBuildingParam.maxArea} OR
            BEDROOM_NUM > #{filtBuildingParam.maxArea})
        </if>
        <if test="filtBuildingParam.type == 1">
            ORDER BY PRICE ASC
        </if>
    </select>

    <select id="getTagNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(DISTINCT building_id) FROM huxing
        <if test='tag != "%null%"'>
            WHERE tag LIKE '%' || #{tag} || '%'
        </if>
    </select>

    <select id="getTagBuildings" parameterType="java.lang.String" resultType="org.csu.lovelyhome.entity.Building">
        select * from building where building_id in
        (SELECT DISTINCT building_id FROM huxing
            <if test='tag != "%null%"'>
                WHERE tag LIKE '%' || #{tag} || '%'
            </if>
        )
    </select>
</mapper>
