<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.lovelyhome.mapper.UserExtMapper">
    <select id="getAllPhoneList" resultType="java.lang.String">
        SELECT PHONE FROM USER
    </select>
</mapper>